*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}
.item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.item.active{
    display: block;
}

.item{
    display: none;
    height: 70vh;
    overflow: hidden;
}